[Unit]
Description=Curates files for the media player service
# After=media-player.service
After=graphical.target
Requires=graphical.target

[Service]
Type=exec
ExecStart=memoryShare --media-folders @@MEDIA_FOLDERS@@
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target